<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <div class="row align-items-center w-100">
                    <div class="col-md-3 col-sm-12">
                        <ul class="navbar-nav ml-3">
                            <a href="/" class="navbar-brand">YelpCamp</a>
                            <li class="nav-item">
                                <a class="nav-link" href="/campgrounds">Home</a>
                            </li>
                        </ul>
                    </div>
                    <% if(!currentUser) { %>
                    <div class="col pr-0">                                 
                        <form class="form-inline" action="/login" method="POST"> 
                            <div class="input-group-sm ml-md-auto ml-sm-0">
                                <input class="form-control pl-2" type="email" name="username" placeholder="email" required>                                                       
                                <input class="form-control pl-2 ml-sm-0  ml-md-1 my-1 my-sm-0" type="password" name="password" placeholder="password" required>
                                <input id="login" class="btn btn-sm btn-outline-light ml-md-1" type="submit" value="Log in">
                                <a class="btn btn-sm btn-outline-light ml-md-1" href="/register">Sign Up</a>
                            </div>              
                        </form>
                    </div>
                </div>                    
                    <% } else { %>
                    <ul class="navbar-nav ml-auto">                                 
                        <li class="nav-item">
                            <span class="nav-link">Welcome, <%= currentUser.firstname; %></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                    <% } %>
                <!-- </div> -->
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger py-1" role="alert"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success py-1" role="alert"><%= success %></div>
            <% } %>
        </div>
        <!-- <div id="loginPanel" class="container mx-auto d-none zIndex">
            <div class="row justify-content-center">
                <form class="bg-light py-3 px-4" action="/login" method="POST">
                    <div class="form-group">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="username" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Log in">
                    </div>
                </form>
            </div>
        </div> -->

                    