<% include ../partials/header %>

<div class="container">
    <header class="jumbotron mt-3">  
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds</p>
            <p>
                <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row">
        <% campgrounds.forEach((campground) => { %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body p-2">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <p class="text-center mb-0">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More Info</a>
                        </p>   
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>  

<% include ../partials/footer %>