.card-img-index {
    height: 10rem;
    object-fit: cover;
}

.card-img-show {
    max-height: 30rem;
    object-fit: cover;
}

#header_banner {
    background-image: url("https://i.imgur.com/ZuprUOd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}